<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gamer's Gauntlet</title>
  <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,400i,700&display=swap" rel="stylesheet">
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<!-- component -->
        <!-- Conditionally render login or logout links -->
                <a href="/highscores">high scores</a> |
        {{#if logged_in}}
        <a href="/">home</a> |
        <button class="no-button" id="logout">logout</button>
        {{else}}
        <a href="/login">LOGIN</a>
        {{/if}}
      </nav>
    </header>
    <main class="container container-fluid mt-5">
     <center> <img src="./assets/imgs/gamersgauntlet-logo.png" alt="Gamer's Gauntlet" style="width:200px;height:200px;" /></center>
      <!-- Render the sub layout -->
      {{{ body }}}
    </main>
    <footer>
      
    </footer>
  </div>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js" ></script>
  {{/if}}
</body>
</html>