<div id="row">
    <header>
	 <h1>
        <img src="https://www.canva.com/design/DAFbvEXDAn8/view" />
      </h1>
	<h4 id="strapline" contenteditable="true">Click Anywhere to Start</h4>
    </header>
</div>

{{!-- <script src="./js/login.js"></script> --}}