<div id="row">
    <header>
	 <h1>
        <img src="https://www.canva.com/design/DAFbvEXDAn8/view" />
      </h1>
	 <a href="/quiz"><h4 id="strapline" contenteditable="true">CLICK HERE TO START</h4></a>
    </header>
</div>


{{!-- <script src="./js/login.js"></script> --}}