<!-- component -->
	<div class="absolute w-48 h-48 rounded-xl bg-purple-300 -bottom-6 -right-10 transform rotate-12 hidden md:block">
	</div>
  <div class="p-10 xs:p-0 mx-auto md:w-full md:max-w-md">
    <div class="bg-white shadow w-full rounded-lg divide-y divide-gray-200">
      <div class="px-5 py-7">
         <label for="username-login" class="font-semibold text-sm text-gray-600 pb-1 block">Username</label>
        <input type="text" id="username-login" class="border rounded-lg px-3 py-2 mt-1 mb-5 text-sm text-black w-full" />
        <label for="password-login" class="font-semibold text-sm text-gray-600 pb-1 block">Password</label>
        <input type="password" id="password-login" class="border rounded-lg px-3 py-2 mt-1 mb-5 text-sm text-black w-full" />
        <button type="submit" class="login-form login-btn transition duration-200 bg-purple-500 hover:bg-blue-600 focus:bg-blue-700 focus:shadow-sm focus:ring-4 focus:ring-blue-500 focus:ring-opacity-50 text-white w-full py-2.5 rounded-lg text-sm shadow-sm hover:shadow-md font-semibold text-center inline-block">
            <span class="inline-block mr-2">Login</span>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-4 h-4 inline-block">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 8l4 4m0 0l-4 4m4-4H3" />
            </svg>
        </button>
      </div>
      <div class="py-5">
        <div class="grid grid-cols-2 gap-1">
          <div class="text-center sm:text-left whitespace-nowrap">
             <a href="/createaccount"> 
            <button class="transition duration-200 mx-5 px-5 py-4 cursor-pointer font-normal text-sm rounded-lg text-gray-500 hover:bg-gray-100 focus:outline-none focus:bg-gray-200 focus:ring-2 focus:ring-gray-400 focus:ring-opacity-50 ring-inset">

               <span class="inline-block ml-1">
                  Create Account
                  </span>
            </button>
             </a>
          </div>
          <div class="text-center sm:text-right  whitespace-nowrap">
            <button class="transition duration-200 mx-5 px-5 py-4 cursor-pointer font-normal text-sm rounded-lg text-gray-500 hover:bg-gray-100 focus:outline-none focus:bg-gray-200 focus:ring-2 focus:ring-gray-400 focus:ring-opacity-50 ring-inset">
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="py-5">
        <div class="grid grid-cols-2 gap-1">
          <div class="text-center sm:text-left whitespace-nowrap">
            <button class="transition duration-200 mx-5 px-5 py-4 cursor-pointer font-normal text-sm rounded-lg text-gray-500 hover:bg-gray-200 focus:outline-none focus:bg-gray-300 focus:ring-2 focus:ring-gray-400 focus:ring-opacity-50 ring-inset">
            </button>
          </div>
        </div>
      </div>
  </div>
  	<div class="absolute w-60 h-60 rounded-xl bg-purple-300 -top-10 -left-16 z-0 transform rotate-45 hidden md:block">
	</div>
  <div class="w-40 h-40 absolute bg-purple-300 rounded-full top-0 right-12 hidden md:block"></div>
	<div class="w-20 h-40 absolute bg-purple-300 rounded-full bottom-20 left-10 transform rotate-45 hidden md:block">
    
	</div>
</div>

<script src="./js/login.js"></script>

