<!-- Result Box -->
<div class="result_box">
  <div class="icon">
    <i class="fas fa-crown"></i>
  </div>
  <div class="complete_text">Congrats Gamer!</div>
  <div class="score_text">
    <!-- Here I've inserted Score Result from JavaScript -->
    <p id="finalScore"></p>
  </div>
  <div class="buttons">
    <button id="restart"><a href="/quiz">Replay Quiz</a></button>
    <button id="quit"><a href="/">Quit Quiz</a></button>
  </div>
</div>