<!-- Result Box -->	
<div class="absolute w-48 h-48 rounded-xl bg-purple-300 -bottom-6 -right-10 transform rotate-12 hidden md:block">
	</div>
<div class="result_box">
  <div class="complete_text">
    <h1 class="text-3xl font-bold text-center text-white mb-4">Congrats Gamer!</h1></div>
  <div class="score_text">
    <!-- Here I've inserted Score Result from JavaScript -->
    <p id="finalScore"></p>
  </div>
  <div class="buttons">
    <button id="restart"><a href="/quiz">Replay Quiz</a></button>
    <button id="quit"><a href="/">Quit Quiz</a></button>
  </div>
   	<div class="absolute w-60 h-60 rounded-xl bg-purple-300 -top-10 -left-16 z-0 transform rotate-45 hidden md:block">
	</div>
  <div class="w-40 h-40 absolute bg-purple-300 rounded-full top-0 right-12 hidden md:block"></div>
	<div class="w-20 h-40 absolute bg-purple-300 rounded-full bottom-20 left-10 transform rotate-45 hidden md:block">
    
	</div>
</div>

<script src='./js/results.js'></script>