@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  padding:20px;
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background:#111;
  color:white;
  font-family:monospace;
  text-align:center;
  background-image: 
    radial-gradient(2px 2px at 20px 30px, #eee, rgba(0,0,0,0)),
    radial-gradient(2px 2px at 40px 70px, #fff, rgba(0,0,0,0)),
    radial-gradient(2px 2px at 50px 160px, #ddd, rgba(0,0,0,0)),
    radial-gradient(2px 2px at 90px 40px, #fff, rgba(0,0,0,0)),
    radial-gradient(2px 2px at 130px 80px, #fff, rgba(0,0,0,0)),
    radial-gradient(2px 2px at 160px 120px, #ddd, rgba(0,0,0,0));
  background-repeat: repeat;
  background-size: 200px 200px;
  max-width:650px;
  margin:0 auto;
}

h4 {
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 5px;
  color: white;
  border: none;
  transition: all 0.3s ease;
}

h4:hover {
  /* Set hover style */
  color:#eb2cbb;
}

.box {
  width:150px;
  border:1px solid #222;
  border-radius:5px;
  padding:15px;
  display:inline-block;
  position:relative;
  margin-right:25px;
  margin-bottom:25px;
  transition:.75s;
  background:#111;
  transform-origin:top left;
}
.box:hover {
  transform:scale(1.5);
  z-index:2;
}
.name {
  text-align:center;
  width:100%;
}

.block {
  width:10px;
  height:10px;
  float:left;
}

img {
  display: inline-block;
  align-items: center;
}

ol {
  display: inline-block;
  align-items: center;
}

/* CSS for Start Quiz button */
#start {
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #eb2cbb;
  color: white;
  border: none;
}

/* CSS for Info Box */
.info_box {
  background-color: #987cfa;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.info-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.info-list {
  margin-bottom: 10px;
}

.info {
  font-size: 16px;
  margin-bottom: 5px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.quit, .restart {
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.quit {
  background-color: #47bed3;
  color: white;
}

.restart {
  background-color: #eb2cbb;
  color: white;
}

/* CSS for Quiz Box */
#quiz {
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.hidden {
  display: none;
}

.timerDisplay {
  font-size: 24px;
  margin-bottom: 10px;
}

#question {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

#answer-choices {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.option-btn {
    background: aliceblue;
    border: 1px solid #84c5fe;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 17px;
    color: #222;
    margin-bottom: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-bottom: 20px;
}

.option-btn:hover {
  background-color: #eb2cbb;
  color: white;
}

/* CSS for Results Box */
#result_box {
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
}

#finalScore {
  font-size: 20px;
  margin-bottom: 10px;
  border: 1px solid #84c5fe;
  border-radius: 5px;
  padding: 10px 20px;
}

#restart {
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #eb2cbb;
  color: white;
  border: none;
}

#quit {
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #eb2cbb;
  color: white;
  border: none;
}