<!-- Loop over each object in the projects array -->
{{#each scores as |score| }}
<div class="row mb-4 project">
  <div class="col-md-5">
    <h2>
      {{score.user.name}}
    </h2>
  </div>
  <div class="col-md-7">
    <p>
      {{score.score}}
    </p>
  </div>
</div>
{{/each}}
